aws_region   = "eu-west-3"
environment  = "dev"
name_prefix  = "my-project"
db_password  = "change-me"

# optional
# bucket_name_override = "my-unique-bucket-name"

tags = {
  Owner      = "your-name"
  CostCenter = "training"
}